extends layout

block content
  h1 Author: #{author.fullname}
  p #{author.lifespan}

  div(style='margin-left:20px;margin-top:20px')

    h4 Books

    dl
      each book in author_books
        dt
          a(href=book.url class='nodeco') #{book.title} 
        dd #{book.summary}

      else
        p This author has no books.
  br
  hr
  br
  p
    a(href=author.url + '/update' class='abutton') Update author
    |&nbsp;
    a(href=author.url + '/delete' class='abutton') Delete author

